* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* cabeçalho */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff; /* Defina a cor de fundo desejada para o header */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  z-index: 999; /* Garante que o cabeçalho esteja na parte superior de outros elementos */
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Altura da linha de separação */
  background: #ccc;
  border-top: 0.1px solid black;
}

header img {
  width: 55px; /* Tamanho da imagem */
}

header nav {
  display: flex;
}

header a {
  color: black; /* Cor dos links */
  text-decoration: none;
  margin-right: 20px; /* Espaço entre os links */
}

header a:hover {
  color: #4dbfd7;
}

header button {
  left: 20px; /* Posicione o botão no canto esquerdo */
  top: 10px; /* Ajuste a distância do topo conforme necessário */
  background-color: #0074a9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}

header button:hover {
  background: linear-gradient(90deg, #4dbfd7 8.94%, #49eeda 91.34%);
}

/* .corpo {
  background-color: white;
} */

.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-img img {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1000; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}

/* Estilizando o nome da associação */
.nome-associacao h1 {
  font-size: 45px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 8px;
  margin-top: 10px;
}

.nome-associacao h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 5px;
}

main{
  background-color: #fff;
  
}
section {
display: flex;


}

.cartao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: #f2f2f7;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
  width: 300px;
 /* margin: auto;*/

}

section div {
  margin-top: 30px;
  margin-bottom: 10px;
  
}
.cartao h2 {
  font-size: 1.5rem;
  margin: 2rem;
}

.cartao form {
  display: flex;
  flex-direction: column;

}

.cartao form label {
  color: black;
  margin-bottom: 4px;
  font-size: 17px;
}

.cartao form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}

form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 30px;
  transition: all 0.5s;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #888888;
  color: black;
  transition: all 1s;
  margin-bottom: 20px;
}
aside {
  justify-content: center;
  background-color: rgb(23, 160, 96);
 
}
.mapBox {

  height: 400px;
  width: 500%; /* Largura da tela inteira */


}
footer {
  background: linear-gradient(
    90deg,
    #002d7d 12.2%,
    #2759b2 44.02%,
    #002d7d 77.66%
  );
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: block; /* Para empilhar os links verticalmente */
  margin-bottom: 10px; /* Adicionar espaço entre os links */
  transition: color 0.3s; /* Transição suave para a mudança de cor */
}

footer a:hover {
  color: #4dbfd7;
}

footer nav {
  display: flex;
  flex-direction: column; /* Empilhar itens verticalmente */
  align-items: flex-start; /* Alinhar o nav para a frente */
  margin-left: 100px; /* Ajuste a margem esquerda conforme necessário */
  width: 100px; /* Ajuste a largura conforme necessário */
}

footer p {
  margin: 20px; /* Remova a margem padrão do parágrafo */
  align-self: flex-start; /* Alinhe o parágrafo com o nav */
}

/* Estilo para a imagem pequena no canto direito */
footer img {
  width: 100px; /* Defina o tamanho desejado para a imagem */
  align-self: flex-start; /* Alinhe a imagem no canto direito */
  margin-top: 25px; /* Adicione espaço entre a imagem e o conteúdo acima */
  margin-right: 25px;
}
