.corpo {
  background-color: white;
  width: 100%; /* Largura da tela inteira */
}

/* Estilizando o segundo cabeçalho */
.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-img img {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}

.nome-associacao {
  position: absolute;
  top: 40%; /* Ajusta a distância do topo conforme necessário */
  left: 32%; /* Alinha o texto horizontalmente ao centro */
  padding: 10px;
  text-align: center;
  color: #fff;
}

/* Estilizando o nome da associação */
.nome-associacao h1 {
  font-size: 45px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 8px;
}

.nome-associacao h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 5px;
}

/* corpo */

.titulos-principais {
  color: #0066b3;
  padding-left: 50px; /* Afasta o conteúdo do canto esquerdo em 20px */
  padding-top: 80px;
}

.titulos-principais2 {
  color: #0066b3;
  text-align: center; /* Alinha o texto ao centro horizontalmente */
}

.subtitulos {
  font-size: 16px; /* Tamanho da fonte do parágrafo */
  line-height: 1.4; /* Espaçamento entre linhas */
  padding: 20px; /* Afasta o conteúdo de todos os lados em 20px */
  padding-left: 50px; /* Afasta o conteúdo do canto esquerdo em 20px */
  padding-right: 250px;
  text-align: justify;
}

.img-esquerdo {
  float: left; /* Alinha a imagem à esquerda */
  margin-top: 40px; /* Aumenta a margem superior em 20px */
}

.img-direito {
  float: right; /* Alinha a imagem à direita */
}

.img-esquerdo2 {
  float: left; /* Alinha a imagem à esquerda */
  margin-top: 40px; /* Aumenta a margem superior em 20px */
}

.img-direito2 {
  float: right; /* Alinha a imagem à direita */
  margin-top: 70px;
}

.caixa-principal {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 20px auto 0;
  width: 830px;
  height: 331px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 140px; /* Aumenta a margem superior em 20px */
}

.caixa-rolamento {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bloco-container {
  width: 23%; /* Largura das caixas contendo os blocos (48% para deixar espaço entre elas) */
  margin: 0; /* Adiciona um pequeno espaço entre as caixas */
  margin-top: 20px;
  padding: 8px; /* Espaçamento interno nas caixas */
}

.bloco {
  width: 130px;
  height: 200px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.25);
  margin: 0%;
  padding: 10px;
  padding-left: 18px; /* Adiciona um padding à esquerda para mover o conteúdo para a direita */
  padding-right: 30px; /* Adiciona padding à direita */
  transition: transform 0.3s; /* Adiciona uma transição suave para o efeito de zoom */
}

.bloco:hover {
  transform: scale(
    1.1
  ); /* Aplica um aumento de 10% no tamanho quando o mouse passa sobre o bloco */
  z-index: 1; /* Aumenta o índice Z para trazer o bloco à frente de outros elementos */
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.35); /* Adiciona uma sombra mais pronunciada durante o zoom */
}

.bloco h4 {
  color: #ff9800;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
  display: flex;
  margin-top: 30px;
}

.bloco p {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.5;
}

.caixa-principal2 {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 20px auto;
  width: 830px;
  height: 114px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 200px; /* Aumenta a margem superior em 20px */
}

.conteudo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
}

.caixa-principal2 p {
  color: #ff9800;
  text-align: center; /* Centraliza o texto do parágrafo horizontalmente */
  font-size: 16px;
  margin-bottom: 20px; /* Adiciona espaço entre o parágrafo e o botão */
}

.caixa-principal2 button {
  background-color: #0074a9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}

.caixa-principal2 button:hover {
  background: linear-gradient(90deg, #4dbfd7 8.94%, #49eeda 91.34%);
}

@media only screen and (max-width: 730px) {
  /* Estilizando o segundo cabeçalho */
  .segundo-cabecalho {
    height: 80vh; /* Altura da tela inteira */
    flex-shrink: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza vertical e horizontalmente */
    margin-bottom: 150px;
    top: 100px; /* Ajuste o espaçamento superior conforme necessário */
  }

  /* Estilizando a imagem no cabeçalho */
  .cabecalho-img img {
    position: fixed;
    top: 0; /* Remova a margem superior */
    left: 0;
    display: block;
    width: 90vh; /* Largura da tela inteira */
    height: 90vh; /* Altura da tela inteira */
    object-fit: cover;
    z-index: -1; /* Certifica-se de que a imagem fique atrás do conteúdo */
    pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
  }

  .nome-associacao {
    text-align: center;
    padding-top: 6rem;
    margin-top: 6rem;
    font-size: 5px;
    top: 20px;
    left: 10px;
  }

  /* Estilo para o corpo */
  .corpo {
    padding: 20px;
  }

  /* Estilo para os títulos principais */
  .titulos-principais,
  .titulos-principais2 {
    padding-left: 20px;
  }

  /* Estilo para os subtítulos */
  .subtitulos {
    padding: 10px;
    padding-left: 20px;
    padding-right: 55px;
  }

  /* Estilo para as imagens esquerda e direita */
  .img-esquerdo,
  .img-direito {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .img-esquerdo2,
  .img-direito2 {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .img-direito,
  .img-esquerdo2 {
    display: none;
  }
  .img-esquerdo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .img-direito2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /* Estilo para a caixa principal */
  .caixa-principal {
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 55px;
  }

  .bloco-container {
    padding-left: 4rem;
  }

  .caixa-principal2 {
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 55px;
  }

  /* Estilo para os blocos */
  .bloco-container {
    width: 100%;
  }

  /* Estilo para o footer */
  footer {
    background: linear-gradient(90deg, #4dbfd7 8.94%, #49eeda 91.34%);
    margin-top: 3rem;
    /* padding: 20px 0; */
    padding-left: 5rem;
    padding-right: 5rem;
  }

  footer div {
    margin-right: 2rem;
  }

  footer img {
    padding-top: 2.5rem;
    margin-right: 50px; /* Ajuste a margem conforme necessário */
  }
}
