.corpo {
  background-color: white;
}

/* Estilizando o segundo cabeçalho */
.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-img img {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}

.nome-associacao {
  position: absolute;
  top: 40%; /* Ajusta a distância do topo conforme necessário */
  left: 32%; /* Alinha o texto horizontalmente ao centro */
  padding: 10px;
  text-align: center;
  color: #fff;
}

/* Estilizando o nome da associação */
.nome-associacao h1 {
  font-size: 45px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 8px;
}

.nome-associacao h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: #ffff;
  margin-bottom: 5px;
}

/* corpo */

.titulos-principais {
  color: #0066b3;
  padding-left: 50px; /* Afasta o conteúdo do canto esquerdo em 20px */
  padding-top: 80px;
}

.titulos-principais2 {
  color: #0066b3;
  text-align: center; /* Alinha o texto ao centro horizontalmente */
}

.subtitulos {
  font-size: 16px; /* Tamanho da fonte do parágrafo */
  line-height: 1.4; /* Espaçamento entre linhas */
  padding: 20px; /* Afasta o conteúdo de todos os lados em 20px */
  padding-left: 50px; /* Afasta o conteúdo do canto esquerdo em 20px */
  padding-right: 250px;
  text-align: justify;
}

.img-esquerdo {
  float: left; /* Alinha a imagem à esquerda */
  margin-top: 40px; /* Aumenta a margem superior em 20px */
}

.img-direito {
  float: right; /* Alinha a imagem à direita */
}

.img-esquerdo2 {
  float: left; /* Alinha a imagem à esquerda */
  margin-top: 40px; /* Aumenta a margem superior em 20px */
}

.img-direito2 {
  float: right; /* Alinha a imagem à direita */
  margin-top: 70px;
}

.caixa-principal {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 20px auto 0;
  width: 830px;
  height: 331px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 140px; /* Aumenta a margem superior em 20px */
}

.caixa-rolamento {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bloco-container {
  width: 23%; /* Largura das caixas contendo os blocos (48% para deixar espaço entre elas) */
  margin: 0; /* Adiciona um pequeno espaço entre as caixas */
  margin-top: 20px;
  padding: 8px; /* Espaçamento interno nas caixas */
}

.bloco {
  width: 130px;
  height: 200px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.25);
  margin: 0%;
  padding: 10px;
  padding-left: 18px; /* Adiciona um padding à esquerda para mover o conteúdo para a direita */
  padding-right: 30px; /* Adiciona padding à direita */
  transition: transform 0.3s; /* Adiciona uma transição suave para o efeito de zoom */
}

.bloco:hover {
  transform: scale(
    1.1
  ); /* Aplica um aumento de 10% no tamanho quando o mouse passa sobre o bloco */
  z-index: 1; /* Aumenta o índice Z para trazer o bloco à frente de outros elementos */
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.35); /* Adiciona uma sombra mais pronunciada durante o zoom */
}

.bloco h4 {
  color: #ff9800;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
  display: flex;
  margin-top: 30px;
}

.bloco p {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.5;
}

.caixa-principal2 {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 20px auto;
  width: 830px;
  height: 114px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 200px; /* Aumenta a margem superior em 20px */
}

.conteudo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
}

.caixa-principal2 p {
  color: #ff9800;
  text-align: center; /* Centraliza o texto do parágrafo horizontalmente */
  font-size: 16px;
  margin-bottom: 20px; /* Adiciona espaço entre o parágrafo e o botão */
}

.caixa-principal2 button {
  background-color: #0074a9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}

.caixa-principal2 button:hover {
  background: linear-gradient(90deg, #4dbfd7 8.94%, #49eeda 91.34%);
}

/* Responsividade */

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .logo-branco {
    padding: 1.5rem 2rem; /* Reduz a margem do logotipo */
  }

  .nav-item {
    display: none; /* Oculta os itens de navegação e o botão de login */
  }

  .apoiar-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block; /* Exibe o ícone de menu móvel */
  }

  .mobile-menu-icon button {
    top: 10px; /* Define a distância do topo da tela */
    right: 10px; /* Define a distância da direita da tela */
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu-icon img {
    width: 30px;
  }

  .mobile-menu {
    display: none; /* Oculta o menu móvel por padrão */
    padding: 1rem 2rem;
  }

  .mobile-menu a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu {
    padding: 1rem 2rem;
  }

  .open {
    display: block;
  }
}

/* Estilos para resoluções maiores ou iguais a 1200px */
/* @media screen and (min-width: 1200px) {
  .segundo-cabecalho {
    margin-bottom: 150px;
  }

  .nome-associacao {
    left: 32%;
  }

  .titulos-principais {
    padding-left: 50px;
    padding-top: 80px;
  }

  .caixa-principal {
    width: 830px;
    margin-top: 140px;
  }

  .bloco-container {
    width: 23%;
    margin-top: 20px;
    padding: 8px;
  }
} */

/* Estilos para resoluções entre 768px e 1199px */
/* @media screen and (min-width: 768px) and (max-width: 1199px) {
  .segundo-cabecalho {
    margin-bottom: 100px;
  }

  .nome-associacao h1 {
    font-size: 5px;
    left: 28%;
  }

  .nome-associacao h2 {
    font-size: 0.5px;
    left: 28%;
  }

  .titulos-principais {
    padding-left: 30px;
    padding-top: 60px;
  }

  .caixa-principal {
    width: 70%;
    margin-top: 100px;
  }

  .bloco-container {
    width: 48%;
    margin-top: 20px;
    padding: 8px;
  }
} */

/* Estilos para resoluções menores que 768px (dispositivos móveis) */
/* @media screen and (max-width: 767px) {
  .segundo-cabecalho {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .cabecalho-img img {
    height: auto;
  }

  .nome-associacao {
    position: static;
    margin-top: 20px;
    left: auto;
    text-align: center;
  }

  .titulos-principais,
  .titulos-principais2 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .subtitulos {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .bloco-container {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
  }

  .bloco {
    width: 100%;
    margin: 0;
  }

  .bloco p {
    padding: 5px;
  }

  .caixa-principal,
  .caixa-principal2 {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    margin-top: 100px;
  }
} */
