* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff; /* Defina a cor de fundo desejada para o header */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  z-index: 999; /* Garante que o cabeçalho esteja na parte superior de outros elementos */
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Altura da linha de separação */
  background: #ccc;
  border-top: 0.1px solid black;
}

header img {
  width: 55px; /* Tamanho da imagem */
}

header nav {
  display: flex;
}

header a {
  color: black; /* Cor dos links */
  text-decoration: none;
  margin-right: 20px; /* Espaço entre os links */
}

header a:hover {
  color: #4dbfd7;
}

header button {
  left: 20px; /* Posicione o botão no canto esquerdo */
  top: 10px; /* Ajuste a distância do topo conforme necessário */
  background-color: #0074a9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}

header button:hover {
  background: linear-gradient(90deg, #4dbfd7 8.94%, #49eeda 91.34%);
}

/* corpo
 */
.corpo {
  background-color: white;
  position: relative;
  z-index: 1;
}

.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-video video {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1000; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}

/* .imagem {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    90deg,
    #002d7d 12.2%,
    #2759b2 44.02%,
    #002d7d 77.66%
  );
} */

/* .TEA {
  margin: 20px;
  border-radius: 100px;
}
.texto {
  color: white;
  font-size: 40px;
  margin: 170px;
}
main section p {
  text-align: center;
  padding: 2rem 20rem 2rem;
  font-weight: bolder;
}
main article {
  display: flex;
}
.img {
  height: 300px;
  width: 400px;
  margin: 20px;
}
.container {
  text-align: justify;
  margin: 1rem;
}
.container h2 {
  margin: 2rem;
  text-align: center;
}
.container p {
  margin: 1rem;
  padding: 2rem;
}
article div h2 {
  color: #0066b3;
} */

/* Rodapé */

footer {
  background: linear-gradient(
    90deg,
    #002d7d 12.2%,
    #2759b2 44.02%,
    #002d7d 77.66%
  );
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: block; /* Para empilhar os links verticalmente */
  margin-bottom: 10px; /* Adicionar espaço entre os links */
  transition: color 0.3s; /* Transição suave para a mudança de cor */
}

footer a:hover {
  color: #4dbfd7;
}

footer nav {
  display: flex;
  flex-direction: column; /* Empilhar itens verticalmente */
  align-items: flex-start; /* Alinhar o nav para a frente */
  margin-left: 100px; /* Ajuste a margem esquerda conforme necessário */
  width: 100px; /* Ajuste a largura conforme necessário */
}

footer p {
  margin: 20px; /* Remova a margem padrão do parágrafo */
  align-self: flex-start; /* Alinhe o parágrafo com o nav */
}

/* Estilo para a imagem pequena no canto direito */
footer img {
  width: 100px; /* Defina o tamanho desejado para a imagem */
  align-self: flex-start; /* Alinhe a imagem no canto direito */
  margin-top: 25px; /* Adicione espaço entre a imagem e o conteúdo acima */
  margin-right: 25px;
}
