/* corpo
 */
.corpo {
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0;
}

section {
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

section h2 {
  justify-content: center;
  color: #002d7d;
}

.title {
  font-size: 30px;
  margin: 2rem 0rem;
  justify-content: center;
}

.faq {
  border: 2px solid black; /* Cor padrão da borda */
  border-radius: 15px; /* Borda arredondada */
  margin-bottom: 10px; /* Espaço entre FAQs */
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  cursor: pointer;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 20px); /* Adicionado para considerar a largura da borda */
  box-sizing: border-box; /* Garante que a largura inclua as bordas e o preenchimento */
}

.faq h3 {
  color: black; /* Cor do texto do título */
  padding: 10px; /* Preenchimento do título */
  margin: 0; /* Remover margem padrão do título */
  border-top-left-radius: 6px; /* Arredondar o canto superior esquerdo do título */
  border-top-right-radius: 6px; /* Arredondar o canto superior direito do título */
}

.question1 {
  background-color: #41a4f9; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question2 {
  background-color: #f48fb1; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question3 {
  background-color: #ffd54f; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question4 {
  background-color: #ff9800; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question5 {
  background-color: #c5e1a5; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question6 {
  background-color: #ff8a80; /* Cor de fundo do título */
  border-radius: 15px; /* Borda arredondada */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 20px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
  padding: 10px; /* Preenchimento da resposta */
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 15px;
  text-align: justify;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

.section-border {
  border: 1px solid black; /* Cor da borda que cobre todas as FAQs */
  border-radius: 15px; /* Borda arredondada */
  padding: 5px; /* Preenchimento dentro da borda */
  margin-top: 40px; /* Espaço acima da borda */
  margin-bottom: 40px;
  box-shadow: 0 20px 30px rgba(1, 1, 1, 1);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-video video {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1000; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}
