/* Estilizando o segundo cabeçalho */

html,
body {
  overflow-x: hidden;
}

.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 100px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-img img {
  position: fixed;
  top: 0px; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}



/*<<<<<<< HEAD*/



/* Estilizando o nome da associação */
.nome-associacao h1 {
  font-size: 45px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: black;
  margin-bottom: 8px;
}


/*=======*/

/*>>>>>>> 0f37101b91b4c7c473e78eb07d5a47439db5724d*/



.nome-associacao {
  position: absolute;
  top: 40%; /* Ajusta a distância do topo conforme necessário */
  left: 32%; /* Alinha o texto horizontalmente ao centro */
  padding: 10px;
  text-align: center;
  color: black;
}



/*<<<<<<< HEAD*/
/*=======*/



/* Estilizando o nome da associação */
.nome-associacao h1 {
  font-size: 45px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color:  black;
  margin-bottom: 8px;
}




/*>>>>>>> 0f37101b91b4c7c473e78eb07d5a47439db5724d*/




.nome-associacao h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
  text-align: center; /* Alinha o texto à esquerda */
  color: black;
  margin-bottom: 5px;
}
main {
  background-color: #f6f6f6;
  margin-bottom: 0;
}
section {
  display: flex;
  justify-content: center;
}

.container h2 {
  font-size: 1.5rem;
  margin: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container form label {
  color: black;
  margin-bottom: 4px;
  font-size: 17px;
}

.container form input {
  padding: 9px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #888888;
  color: black;
  transition: all 1s;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: #f6f6f6;
  color: black;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  width: 400px;
}

.caixa-principal {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 20px auto 0;
  width: 887px;
  height: 320px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin-top: 80px; /* Aumenta a margem superior em 20px */
  margin-bottom: 0;
}

.bloco-container2 {
  display: flex; /* Usar flexbox para organizar as imagens lado a lado */
  justify-content: space-between; /* Espaço igual entre as imagens */
  align-items: flex-start;
  margin-top: 20px;

  /* width: 23%; */ /* Largura das caixas contendo os blocos (48% para deixar espaço entre elas) */
  /* margin: 0; */ /* Adiciona um pequeno espaço entre as caixas */
  /*  margin-top: 20px; */
  /* padding: 8px; */ /* Espaçamento interno nas caixas */
}

.bloco2 {
  width: 180px; /* Ajuste o tamanho conforme necessário para acomodar as três imagens */
  height: 185px;
  margin: 0 50px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  text-align: center; /* Centralizar o texto horizontalmente dentro das caixas */
  margin-top: 20px;
  transition: transform 0.3s; /* Adiciona uma transição suave para o efeito de zoom */
}

.bloco2:hover {
  transform: scale(
    1.1
  ); /* Aplica um aumento de 10% no tamanho quando o mouse passa sobre o bloco */
  z-index: 1; /* Aumenta o índice Z para trazer o bloco à frente de outros elementos */
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.35); /* Adiciona uma sombra mais pronunciada durante o zoom */
}

.bloco2 img {
  width: 100%; /* Preenche todo o espaço disponível no bloco */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 15px;
}

.bloco2 p {
  color: #ff9800;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

.titulos-principais2 {
  color: #0066b3;
  text-align: center; /* Alinha o texto ao centro horizontalmente */
}

.caixa-principal img {
  width: 162.96px;
  height: 97px;
  flex-shrink: 0;
}

.caixa-principal h2 {
  font-size: 20px;
  margin-top: 15px;
}

.helperText {
  display: none;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 0.8rem;
  color: darkred;
}

/*-----------Estilos dinamicos----------*/

.requiredPopup {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: linear-gradient(
    90deg,
    #002d7d 12.2%,
    #2759b2 44.02%,
    #002d7d 77.66%
  );
}
input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
}

.visible {
  display: block;
}
