




html,
body {
  overflow-x: hidden;
}

.segundo-cabecalho {
  height: 80vh; /* Altura da tela inteira */
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza vertical e horizontalmente */
  margin-bottom: 150px;
  top: 100px; /* Ajuste o espaçamento superior conforme necessário */
}

/* Estilizando a imagem no cabeçalho */
.cabecalho-img img {
  position: fixed;
  top: 0; /* Remova a margem superior */
  left: 0;
  display: block;
  width: 100%; /* Largura da tela inteira */
  height: 90vh; /* Altura da tela inteira */
  object-fit: cover;
  z-index: -1; /* Certifica-se de que a imagem fique atrás do conteúdo */
  pointer-events: none; /* Garante que a imagem não capture eventos do mouse, permitindo que o conteúdo passe por cima */
}

.nome-associacao {
  position: absolute;
  top: 40%; /* Ajusta a distância do topo conforme necessário */
  left: 32%; /* Alinha o texto horizontalmente ao centro */
  padding: 10px;
  text-align: center;
  color: #fff;
}


.nome-associacao h2 {
    font-size: 40px; /* Tamanho da fonte */
    margin: 0; /* Redefine a margem para remover o espaçamento superior e inferior */
    text-align: center; /* Alinha o texto à esquerda */
    color: #fff;
    margin-bottom: 5px;
  }
  section {
    display: flex;
    justify-content: center;
  }
  
.container h2 {
    font-size: 1.5rem;
    margin: 2rem;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container form label {
    color: black;
    margin-bottom: 4px;
    font-size: 17px;
  }
  
  .container form input {
    padding: 9px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
  }

  form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #888888;
    color: black;
    transition: all 1s;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #f2f2f7;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px;
    margin-right: 150px;
    width: 500px;
  }
  
  


