@import url(global.css);
*{
    font-family: roboto;
}

header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #ffff; /* Defina a cor de fundo desejada para o header */
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    margin-bottom: 3px;   
}
header figure img{    
    width: 10rem;    
}
header nav ul{   
    display: flex;
    list-style: none;
    margin: 3rem;
}
header nav ul li a{
    background: linear-gradient(90deg, #002D7D 12.2%, #2759B2 44.02%, #002D7D 77.66%);
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    margin-left: 5rem;
}
header nav ul li a:hover{
    color: #4dbfd7;
}
main section figure {      
    width: 100%;
    height: 25%;  
    position: relative;   
}
main section figure img{       
    height: 60%; 
    object-fit: cover;
    position: relative;
}
main section figure h1{ 
    color:linear-gradient(90deg, #002D7D 12.2%, #2759B2 44.02%, #002D7D 77.66%);    
    position: absolute;
    font-size: 40px;
    font-weight: 990;
    top: 20%;
    left: 36%;
}
main{
    text-align: center;
}
main article{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{   
    background: linear-gradient(90deg, #002D7D 12.2%, #2759B2 44.02%, #002D7D 77.66%);
    display: flex;         
    color: #fff;
    padding: 20px;  
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;

}
footer ul{
    margin: 5rem 10rem 5rem;
    list-style: none;
    font-size: small;
}
footer ul li{
    justify-content: space-between;
}
footer ul li a{
    color: #fff;
    text-decoration: none;    
    margin-bottom: 10px; /* Adicionar espaço entre os links */
    transition: color 0.3s; /* Transição suave para a mudança de cor */
}
footer ul li a:hover{
    color: #4dbfd7;
}
footer figure img{
    width: 10rem; /* Defina o tamanho desejado para a imagem */
    align-self: flex-start; /* Alinhe a imagem no canto direito */
    margin-top: 1rem; /* Adicione espaço entre a imagem e o conteúdo acima */
    margin-right: 1rem;
    
}