@import url(global.css);
*{
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffff;
    padding: 0;
    margin-right: 20%;
    margin-bottom: 0;
}
header figure img{    
    width: 5rem;    
}
header nav{
    padding-right: 200px;
}
header nav ul{   
    
    display: flex;
    list-style: none;
    margin: 2rem;
}
header nav ul li{    
    padding: 1px;
}
header nav ul li a{  
    color: black; 
    padding: .5rem;
    margin: 1px;
    text-decoration: none;
    
}
header nav ul li a:hover{
    color: #4dbfd7;
}
.imagem {   
    display: flex;  
    justify-content: start; 
    width: 100%;
    height: 400px;  
    background: linear-gradient(90deg, #002D7D 12.2%, #2759B2 44.02%, #002D7D 77.66%);  
        
}

.TEA {
    margin: 20px;
    border-radius: 100px;
}
.texto { 
    color: white;
    font-size: 40px;  
    margin: 170px   
}
main section p{
    text-align: center;
    padding: 2rem 20rem 2rem;
    font-weight: bolder;
}
main article{
    display: flex;
    
}
.img{
    height: 300px;
    width: 400px;
    margin: 20px;
}
.container{
    
    text-align: justify;   
    margin: 1rem;
}
.container h2{
    margin: 2rem;
    text-align: center;
}
.container p{
    margin: 1rem;
    padding: 2rem;
}
h2{
    color: #0066b3;
}
footer{   
    background: linear-gradient(90deg, #002D7D 12.2%, #2759B2 44.02%, #002D7D 77.66%);
    display: flex;         
    color: #fff;
    padding: 1rem;  
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;

}
footer ul{
    margin: 1rem;
    list-style: none;
    font-size: small;
}
footer ul li{
    margin-bottom: 10px;
    
}
footer ul li a{
    color: #fff;
    text-decoration: none;    
    margin-bottom: 10px; /* Adicionar espaço entre os links */
    transition: color 0.3s; /* Transição suave para a mudança de cor */
}
footer ul li a:hover{
    color: #4dbfd7;
}
footer figure img{
    width: 7rem; /* Defina o tamanho desejado para a imagem */
    align-self: flex-start; /* Alinhe a imagem no canto direito */
    margin-top: 5px; /* Adicione espaço entre a imagem e o conteúdo acima */
    margin-right: 5px;
    
}